@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**************************
/* ESTILOS GERAIS
/*************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Poppins', sans-serif;
    background: #1F1C26;
}


/**************************
/* HEADER
/*************************/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1146px;
    margin: 0 auto;
    padding: 2rem 0; 
    margin-bottom: 4.3rem;
}

div.logo {
    height: 122px;
    z-index: 10;
}

#menu-open { /* menu hamburguer settings*/
    display: none;
    position: fixed;
    top: 27px;
    right: 10px;
    cursor: pointer;
    z-index: 999;
}

.nav-list, .nav-list__login {
    display: flex;
}

nav .nav-list .nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #f2f2f2;
    font-weight: 300;
    position: relative;
}

.nav-list li {
    margin-right: 20px;

} 

.nav-list li:nth-child(4) {
    margin-right: 16px;
    
}

li:nth-child(n+ 5) {
    margin-right: 0;
}

nav .nav-list .nav-link:hover::before {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 100%;
    background: #59253E;
}

nav .nav-list #nav-login:hover::before, #nav-sign:hover::before {
    background: none;
}


nav .nav-list #nav-login {
    background: #59253E;
    padding: 1px 4px;
}

nav .nav-list #nav-login:hover {
    background: #F24B88;
    
}

nav .nav-list #nav-sign {
    border: 1px solid #f2f2f2;
    padding: 0 4px;
}

nav .nav-list #nav-sign:hover {
    background: #f2f2f23d;
    border: 1px solid #f2f2f23d;
}


@media (max-width: 1100px) {
    header {
        margin: 0 auto;
        
    }
    
}

@media (max-width: 761px) {
    header {
        justify-content: center;
        align-items: center;
    }
    div.logo {
        margin-bottom: 2rem;
    }
    nav .nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 500px) { 
    #menu-open {
        display: block;
    }
    
    .nav {
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        background: #59253E;
        height: 100vh;
        z-index: 888;
        transition: right .3s ease;
    }
    .nav .nav-list {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav-list li {
        margin-top: 30px;
    }

    .nav-list li:first-child {
        margin-top: 50px;
    }

    .nav-list li {
        margin-right: 0;
    }

    .nav-list li:nth-child(4) {
        margin-top: 30px;
        margin-right: 0;
    }

    nav .nav-list #nav-login {
        background: #F24B88;
    }
    

}


/**************************
/* MAIN
/*************************/

main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1146px;
}

.sec-container {
    display: flex;
    flex-wrap: wrap;
    width: 1146px;
    position: relative;
    margin-top: 8rem;
    justify-content: space-between;
}

.sec-container:first-child {
    margin-top: 0;
    justify-content: start;
}

.content h1 {
    color: #f2f2f2;
    font-size: 4.5rem;
    text-transform: uppercase;
    line-height: 2.8rem;
    margin-top: 0.4rem;
}

.content .workout-title {
    color: #f2f2f2;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2.3px;
    margin-bottom: 65px;
}

.content p {
    width: 392px;
    height: 125px;
    color: #f2f2f2;
    opacity: 39%;
    font-weight: 300;
    margin-bottom: 6.5rem;
}

.content button {  
    border: none;
    width: 190px;
    height: 70px;
    background: #F24B88;
    border-radius: 10px;
    color: #f2f2f2;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.content button:hover {
    background: #EC3779;
    
}

.img-content {
    width: 19.9rem;
    margin-left: 3rem;
}

.img-content img {
    border-radius: 20px;
    width: 100%;
    
}

.span-content {   /**** get inspired config ****/
    position: absolute;
    right: 0;
    top: 0;
    width: 335px;
    height: 210px;
    background: #332F3C;
    color: #f2f2f2;
    padding: 25px;
    border-radius: 10px;
}

.span-content h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.span-content p {
    opacity: 36%;
    font-weight: 200;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.button-link {
    display: flex;
    align-items: center;
    
}

.button-link a {
    height: 39.9px;
}

.button-link a img:hover {
    transform: scale(1.1);
}

.button-link span {
    font-size: 1.2rem;
    background: none;
    border: none;
    color: #f2f2f2;
    text-transform: capitalize;
    margin-left: 1rem;
    font-weight: 600;
    cursor: pointer;
}


.span-content-challenge {   /**** challenge yourself config ****/
    position: absolute;
    bottom: 8px;
    right: 0;
    width: 335px;
    height: 210px;
    background: #332F3C;
    color: #f2f2f2;
    padding: 25px;
    border-radius: 10px;
}

.span-content-challenge h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.span-content-challenge p {
    opacity: 36%;
    font-size: 0.8rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

@media (max-width: 1100px) {
    .sec-container:first-child {
        
        justify-content: space-between;
    }
    .img-content {
        margin: 0;
    }
    .span-content {
        display: none;
    }

    .span-content-challenge {
        display: none;
    }
}

@media (max-width: 761px) {
    picture {
        display: none;
    }
    .sec-container:first-child {
        justify-content: center;
    }

    .sec-container:first-child .content {
        text-align: center;
    }
}


/**************************
/* LATEST TRAINING
/*************************/



div.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

h2.h2-title {
    color: #f2f2f2;
    text-transform: uppercase;
    position: relative;
}

h2.h2-title::before {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 30%;
    background: #59253E;

}

span.span-see-more {
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.8rem;
    cursor: pointer;
}

.video-container {
    display: flex;
    flex-direction: column;
    width: 368px;
    
}

div.video-container a img{
    transition: 0.3s all ease-in-out;
    
}


div.video-container a img:hover {
    transform: scale(1.1);
}

h3.video-title {
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 600; 
}

div.video-container p {
    font-size: 0.8rem;
    margin: 1rem 0;
    height: 35px;
    width: 100%;
    color: #f2f2f2;
    opacity: 39%;
}

div.video-container .video-button {  
    width: 98px;
    height: 36px;
    font-size: 0.8rem;
    border-radius: 5px;
    border: none;
    letter-spacing: 1.3px;
    background: #F24B88;
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

div.video-container .video-button:hover {
    background: #EC3779;
}

@media (max-width: 761px) {
    .sec-container {
        justify-content: center;
        
    }
    .span-see-more {
        display: none;
    }
    .video-container {
        margin-bottom: 5rem;
    }
    .video-container:last-child {
        margin-bottom: 0;
    }
    div.video-container a img:hover {
        transform: none;
    }
}

/**************************
/* OUR TEAM
/*************************/

div.profile-container {
    width: 261px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

div.profile-container div {
    background: #f2f2f2;
    position: relative;
    
}

h3.profile-name {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0 1rem;
    font-style: italic;
    font-weight: 700;
}

h4 {
    margin: 0 1rem;
    font-style: italic;
    position: absolute;
    font-weight: 500;
    top: 26px;
}

div.profile-container p {
    margin: 2rem;
    text-align: center;
    opacity: 60%;
    font-size: 0.8rem;
}

.profile-button {
    width: 98px;
    height: 36px;
    font-size: 0.8rem;
    border-radius: 5px;
    border: none;
    letter-spacing: 1.3px;
    background: #F24B88;
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.profile-button:hover {
    background: #EC3779;
    
}

@media (max-width: 761px) {
    .sec-container .profile-container{
        margin: 0 2rem 5rem 2rem;
    }
    .sec-container .profile-container:last-child {
        margin-bottom: 0;
    }
}

/**************************
/* DISCOVERY YOUR POTENCIAL
/*************************/

.content-container {
    background: #332F3C;
    color: #f2f2f2;
    height: 382px;
    width: 100%;
    text-align: center;
}

.content-container h2 {
    text-transform: uppercase;
    font-size: 3.4rem;
    margin-top: 4rem;
    font-weight: 500;
    letter-spacing: 5px;
}

.content-container p {
    margin-bottom: 2rem;
    font-weight: 200;
}

.plans-button {
    width: 190px;
    height: 70px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background: #F24B88;
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: .2s all ease-in-out;
}

.plans-button:hover {
    background: #EC3779;
    transform: scale(1.1);
}

.learn-more-button {
    width: 190px;
    height: 70px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background: #1F1C26;
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: .2s all ease-in-out;
}

.learn-more-button:hover {
    background: #222027;
    transform: scale(1.1);
}

@media (max-width: 761px) {
    .content-container {
        height: 100%;
    }
    .content-container .plans-button{
        display: block;
        margin: 0 auto;
    }
    .content-container .learn-more-button {
        display: block;
        margin: 1rem auto;
       
    }
}
/**************************
/* FOOTER
/*************************/
.sec-container__footer {
    display: flex;
    flex-wrap: wrap;

}
hr {
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 100%;
}

.logo-social {
    width: 40%;
}

.logo-social p {
    color: #f2f2f2;
    margin: 0.8rem 0;
    font-size: 0.8rem;
    font-weight: 200;
}

.social-icon a {
    text-decoration: none;
    margin-right: 0.5rem;
}

.social-icon a box-icon{
    background: #59253E;
    border-radius: 50%;
    border: 3px solid #59253E;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 30px;
}

.social-icon a box-icon:hover {
    background: #EC3779;
    border: 3px solid #EC3779;
    transform: scale(1.4);
}


.info-contact a {
    text-decoration: none;
}

.info-contact h3 {
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 600;
}

.info-contact p {
    color: #f2f2f2;
    margin-top: 1rem;
    font-weight: 200;
    font-size: 0.8rem;
}

.info-contact__get-in-touch a {
    text-decoration: none;
}

.info-contact__get-in-touch h3 {
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 600;
}

.info-contact__get-in-touch p {
    color: #f2f2f2;
    margin-top: 1rem;
    font-weight: 200;
    font-size: 0.8rem;
}

div.newsletter {
    display: flex;
    flex-direction: column;
}

div.newsletter h3 {
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
}

div.newsletter input[type=email] {
    height: 36px;
    width: 321px;
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
    margin-bottom: 1rem;
}

div.newsletter input::placeholder {
    color: #7B7B7B;
    font-size: 0.8rem;
}

div.newsletter input[type=button] {
    width: 105px;
    height: 36px;
    border-radius: 5px;
    background: #F24B88;
    border: none;
    color: #f2f2f2;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    
}

footer p {
    color: #f2f2f2;
    font-size: 0.8rem;
    font-weight: 200;
}

footer p a{
    color: #f2f2f2;
    text-decoration: none;
}

@media (max-width: 761px) {
    .sec-container__footer {
        flex-direction: column;
        align-items: center;
    }
    .logo-social, .info-contact, .info-contact__get-in-touch {
        text-align: center;
    }
    .newsletter {
        align-items: center;
    }
}